header{
    position: relative;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
}

.logo {
    position: relative;
    height: 60px;
    width: 60px;
    left: 3.13rem;
}
hr{
    position: absolute;
    width: 100%;
    top: 5rem;
    border: 0.5px solid #E3D7B6;
}
