@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/l/font?kit=jAnfgHBgCsv4eNLTaMECf8DQsNS_exC-fGAj&skey=4ad46dd97873f7d7&v=v16) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: 'Cammron';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/l/font?kit=jAnfgHBgCsv4eNLTaMECf8DQsNS4exC-fGAj&skey=4ad46dd97873f7d7&v=v16) format('woff2');
    unicode-range: U+0370-03FF;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background: white;
}

.texte{
    position: relative;
    text-align: center;
    top: 25%;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.hr1{
    position: absolute;
    width: 100%;
    top: 0rem;
    border: 0.5px solid #E3D7B6;
}

.special{
    position: absolute;
    width: 100%;
    height: 87px;
    top: 5rem;
    background: #2F4858;
}

.titre{
    position: relative;
    width: 311px;
    height: 32px;
    top: 6%;
    display: block;
    margin:auto;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #E3D7B6;
}

.hr3{
    position: relative;
    width: 10%;
    top: 0.2rem;
    border: 0.5px solid #E3D7B6;
    display: block;
    margin:auto;
}

/* ------------------------ Îcones ------------------------ */

.love{
    position: absolute;
    font-size: 25px;
    color: #E3D7B6;
    top: 58%;
    left: 13%;
}

.birthday{
    position: absolute;
    font-size: 25px;
    color: #E3D7B6;
    left: 33%;
    top: 58%;
}

.ring{
    position: absolute;
    font-size: 25px;
    color: #E3D7B6;
    left: 56%;
    top: 58%;
}

.valise{
    position: absolute;
    font-size: 25px;
    color: #E3D7B6;
    left: 80%;
    top: 58%;
}

/* ------------------------ Titres îcones ------------------------ */
.love-appart{
    position: absolute;
    width: 112px;
    height: 32px;
    left: 16%;
    top: 65%;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #E3D7B6;
}

.anniversaire{
    position: absolute;
    width: 311px;
    height: 32px;
    left: 36%;
    top: 65%;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #E3D7B6;
}

.fiancailles{
    position: absolute;
    width: 311px;
    height: 32px;
    left: 59%;
    top: 65%;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #E3D7B6;
}

.business{
    position: absolute;
    width: 311px;
    height: 32px;
    left: 83%;
    top: 65%;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #E3D7B6;
}

/* ------------------------ Logements ------------------------ */

.affichage_logements{
    position: relative;
    width: 82.5rem;
    margin: auto;
    top: 9rem;
    display: flex;
    flex-wrap: wrap;
}

.logement {
    position: relative;
    width: 18.4rem;
    height: 20.8rem;
    left: 0px;
    top: 0px;

    display: flex;
    margin-left: 2rem;
    /* margin-bottom: 3rem; */
}

.logement img{
    width: 18.4rem;
    height: 17.813rem;
    border: 1px solid #E3D7B6;
    border-radius: 15px;
}


.form input[type="image"]{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 22px;
    height: 22px;
}

.infos_logement{
    position: absolute;
    bottom: 1rem;
    /* margin-left: 2rem; */
    /* display: flex; */

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}