@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/l/font?kit=jAnfgHBgCsv4eNLTaMECf8DQsNS_exC-fGAj&skey=4ad46dd97873f7d7&v=v16) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: 'Cammron', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.cdnfonts.com/css/cammron) format('woff2');
    unicode-range: U+0370-03FF;
}
  
*{
    margin: 0;
    color: black;
    list-style: none;
    text-decoration: none;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;

}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background: white;
}

.texte{
    position: relative;
    text-align: center;
    top: 25%;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.hr1{
    position: absolute;
    width: 100%;
    top: 0rem;
    border: 0.5px solid #E3D7B6;
}

/* --------------------------- Titre et tableau --------------------------- */

.titre{
    position: relative;
    top: 8rem;
    padding-left: 4.5rem;
    font-size: 20px;

}

.tab {
    position: relative;
    width: 40rem;
    top: 8rem;
    margin: auto;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

th, td {
    padding: 8px;
    border: 1px solid black;
    
}

thead {
    background-color: #f1f1f1;
}

th {
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.tab_utilisateurs{
    position: relative;
    width: 100px;
    top: 5rem;

}

.les-buttons{
    position: relative;
    width: 150px;
    height: 30px;
    top: 18rem;
    left: 57rem;
}

.boutton_supprimer{
    position: relative;
    box-sizing: border-box;
    background: #2F4858;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    color: #E3D7B6;

}

.desactiver{
    position: relative;
    box-sizing: border-box;
    background: #2F4858;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    color: #E3D7B6;
}